@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: iranSans;
    src: url("../fonts/IranSans/FontsFree-Net-ir_sans.ttf");
}

@layer base {
    * {
        text-align: right;
        direction: rtl;
        font-family: iranSans;
        font-size: 0.875rem;
    }

    a {
        cursor: pointer;
    }

    select[dir="rtl"] {
        background-position: left 0.5rem center;
    }
}

@layer components {
    .error{
        @apply mt-4 text-xs font-bold text-red-600;
    }

    .a-hover {
        @apply transition-all hover:text-orange-700;
    }

    .bg-hover {
        @apply transition-all hover:bg-orange-200;
    }

    .bg-slate-gray {
        @apply bg-slate-200;
    }

    .dropdown-zone {
        @apply absolute z-50 hidden;
    }

    .title {
        @apply py-4 text-xl font-bold text-red-600 md:text-2xl;
    }

    .rtl {
        direction: rtl;
    }
}
